@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-600: #3590f3;
  --blue-400: #62bfed;
  --blue-200: #62bfed;
  --purple-600: #c2bbf0;
  --blue-300: #f1e3f3;
}

.container-md {
  width: min(92%, 1080px);
  margin-inline: auto;
}
@media (min-width: 1280px) {
  .container-md {
    width: min(90%, 1380px);
  }
}
